.about {
  margin-bottom: 80px;
  position: relative; /* Add position relative to the .about container */
  background-image: url(''); /* Add your background image path */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  
}

.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }

  .about p {
    padding: 0;
  }

  .about .container img {
    margin-top: 50px;
    position: absolute; /* Position the image absolutely */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    width: 200px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
  }
}