/* BudgetTable.css */
.stage-price-table-container {
    margin-top: 20px;
  }
  
  .stage-price-table-container h2 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal; /* Remove boldness */
    font-size: 25px; /* Adjust font size */
  }
  
  .stage-price-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .stage-price-table th, .stage-price-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .stage-price-table th {
    background-color: #f2f2f2;
  }
  
  .stage-price-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .stage-price-table tr:hover {
    background-color: #ddd;
  }